@use "colors";

// Google Fonts: DM Sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// Bootstrap Functions
@import "../../../node_modules/bootstrap/scss/functions";

$font-family-base: "DM Sans";

// $body-bg: colors.$gray-100;
// $body-bg-dark: #000814;
// $body-color: #000814;
// $body-color-dark: #f8f9fa;

// $primary: #7209b7;
// $secondary: #073b4c;
$success: #06d6a0;
$warning: #ffd166;
$danger: #ef476f;
$info: #118ab2;
$light: #ffffff;
$dark: #050505;

// Custom Variables

// Bootstrap Variables
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

// Custom breakpoints
$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    xxxl: 1600px,
  )
);

$container-max-widths: map-merge(
  $container-max-widths,
  (
    xxxl: 1440px,
  )
);

// Rest of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// My Styles
@import "layout";
@import "icon";
@import "utility";
@import "dropdown";
@import "sidebar";

.messages-wrapper {
  width: 100%;
  margin-inline: auto;
  position: fixed;
  top: 2rem;
}

:root {
  --navbar-height: 3.85rem;
}

.navbar {
  height: var(--navbar-height, 3.85rem);
}
